.bg-light-grey {
  background-color: #f9f9f9; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mr-20 {
  margin-right: 20px; }

.ml-20 {
  margin-left: 20px; }

.dsg-icon {
  background: url("/images/sprites.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block; }
  .dsg-icon.facebook {
    background-position: -40px 0; }
  .dsg-icon.linkedin {
    background-position: -20px 0; }

.social-media-toolbar {
  margin-top: 20px; }
  .social-media-toolbar ul {
    display: inline;
    padding: 0;
    margin: 0; }
  .social-media-toolbar li {
    list-style: none outside none;
    display: inline-block;
    margin: 0 10px; }
  .social-media-toolbar .dsg-icon-title {
    display: none; }
  .social-media-toolbar > span {
    vertical-align: top; }

ul.bullet-check-mark {
  padding-left: 2em; }
  ul.bullet-check-mark li {
    list-style-image: url("/images/bullet-check-mark.png"); }

@media (max-width: 767px) {
  #right-rail-form label {
    padding-top: 8px;
    padding-bottom: 0; }

  .center-block-xs {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .text-center-xs {
    text-align: center; } }
@media (min-width: 768px) {
  #right-rail-form label {
    padding-top: 8px;
    padding-bottom: 0; }
  #right-rail-form .row {
    margin-bottom: 15px; }

  .text-right-sm {
    text-align: right; }

  .pull-right-sm {
    float: right; }

  .pull-left-sm {
    float: left; }

  .mt-0-sm {
    margin-top: 0; } }
@media (min-width: 992px) {
  #right-rail-form label {
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 0; } }
