li {
  padding-bottom: .6em;
}

.bg-light-grey {
  background-color: #f9f9f9;
  color: #444;
}

.border-grey {
  border: 1px solid #cbcbcb;
}

.pad-0 {
  padding: 0 !important;
}
.pad-15 {
  padding: 15px !important;
}
.pad-25 {
  padding: 25px !important;
}

.pt-20 {
  padding-top: 20px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}

.mr-10 {
  margin-right: 10px !important;
}
.mr-20 {
  margin-right: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.dsg-icon {
  background: url("/images/sprites.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  display: block;

  &.twitter {

  }
  &.facebook {
    background-position: -40px 0;
  }
  &.linkedin {
    background-position: -20px 0;
  }
}

.social-media-toolbar {
  margin-top: 20px;

  ul {
    display: inline;
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none outside none;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
  }
  .dsg-icon-title {
    display: none;
  }
  >span {
    display: inline-block;
    margin-top: -2px;
    vertical-align: top;
  }
}

ul {
  &.bullet-check-mark {
    padding-left: 2em;

    li {
      list-style-image: url("/images/bullet-check-mark.png");
    }
  }
}

.text-sm {
  font-size: 11px;
  line-height: 15px;
}

.text-md {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) { //XS
  #right-rail-form {
    label {
      padding-top: 8px;
      padding-bottom: 0;
    }
  }
  .center-block-xs {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .text-center-xs {
    text-align: center;
  }
  .mt-0-xs {
    margin-top: 0 !important;
  }
  .btn-block-xs {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) { //SM
  #right-rail-form {
    label {
      padding-top: 8px;
      padding-bottom: 0;
    }
    .row {
      margin-bottom: 15px;
    }
  }
  .text-right-sm {
    text-align: right;
  }
  .pull-right-sm {
    float: right !important;
  }
  .pull-left-sm {
    float: left;
  }
  .mt-0-sm {
    margin-top: 0 !important;
  }
  .ml-20-sm {
    margin-left: 20px !important;
  }
  .mr-20-sm {
    margin-right: 20px !important;
  }
}

@media (min-width: 992px) { //MD
  #right-rail-form {
    label {
      padding-top: 8px;
      padding-bottom: 0;
      padding-left: 0;
    }
  }
  .pull-left-md {
    float: left;
  }
  .text-left-md {
    text-align: left;
  }
  .mr-10-md {
    margin-right: 10px !important;
  }
  .pad-25-md {
    padding: 25px !important;
  }
}