.site-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%; }

#masthead .navbar-inverse {
  background-color: #007db8; }

.masthead-shadow-section {
  content: "";
  width: 80%;
  height: 10px;
  left: 10%;
  border-radius: 50%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
  margin: -10px auto 0; }

.masthead {
  margin-bottom: 20px;
  color: #fff; }
  .masthead .navbar {
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 0;
    z-index: 4050; }
  .masthead .navbar-inverse, .masthead .navbar-toggle {
    border-color: transparent;
    text-shadow: none;
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0; }
  .masthead .navbar-brand {
    padding: 0;
    margin-top: 13px;
    margin-right: 20px; }
    .masthead .navbar-brand a {
      color: #fff; }
      .masthead .navbar-brand a:hover {
        text-decoration: none; }
  .masthead .form-control {
    display: inline;
    /*border-radius: 0;*/ }
  .masthead .svg-icon-dell {
    margin-left: 10px;
    font-size: 40px;
    color: #fff;
    display: inline-block;
    vertical-align: middle; }
  .masthead .utility {
    margin: 0;
    padding-left: 0;
    height: 65px;
    float: right; }
    .masthead .utility li {
      display: inline-block;
      float: left;
      position: relative; }
      .masthead .utility li .open {
        background: #fff; }
        .masthead .utility li .open i, .masthead .utility li .open a {
          color: #007db8; }
    .masthead .utility a {
      margin: 0;
      padding: 20px 10px;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      color: #fff;
      display: block; }
      .masthead .utility a:link, .masthead .utility a:visited {
        margin: 0;
        padding: 22px 10px;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        color: #fff;
        display: block; }
      .masthead .utility a:hover, .masthead .utility a:focus {
        text-decoration: none;
        color: #cce7f3; }
      .masthead .utility a:hover {
        color: #cce7f3; }
    .masthead .utility [class^=icon] {
      font-size: 18px; }
    .masthead .utility .badge [class^=icon] {
      font-size: 6px;
      color: #fff; }
    .masthead .utility .icon-ui-menucollapsed {
      font-size: 16px; }
    .masthead .utility .badge {
      position: absolute;
      top: 14px;
      left: 24px;
      width: 14px;
      height: 14px;
      display: inline-block;
      min-width: 10px;
      padding: 4px 4px 4px 3px;
      font-size: 6px;
      font-weight: 700;
      color: #fff;
      line-height: 0;
      white-space: nowrap;
      text-align: left;
      background-color: #6ea204;
      border-radius: 10px; }
  .masthead li {
    list-style-type: none; }
  .masthead .navbar-toggle:hover {
    background-color: transparent; }
  .masthead .main-nav-section {
    position: absolute;
    z-index: 999;
    top: 0;
    right: -276px;
    width: 276px;
    height: 5000px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #eee;
    color: #444; }
    .masthead .main-nav-section ul a {
      display: block;
      padding: 10px 0 9px 20px;
      text-decoration: none; }
  .masthead .search-container {
    display: none;
    position: absolute;
    left: 0;
    margin-top: 66px;
    z-index: 99;
    width: 100%;
    padding: 10px 15px;
    background-color: white;
    border-top: 1px solid #ffffff;
    border-bottom: 4px solid #007db8;
    /*input {
      -ms-border-radius: 0;
      border-radius: 0;
    }*/ }
    .masthead .search-container.open-search {
      display: block; }
      .masthead .search-container.open-search + ul .mobile-search-button {
        background-color: white; }
        .masthead .search-container.open-search + ul .mobile-search-button a {
          color: #007db8; }
    .masthead .search-container .search-query {
      padding-right: 14px;
      padding-right: 4px \9;
      padding-left: 14px;
      padding-left: 4px \9;
      margin-bottom: 0;
      /*-webkit-border-radius: 15px;
      -moz-border-radius: 15px;*/
      height: 30px; }
    .masthead .search-container .btn {
      position: absolute;
      top: 11px;
      right: 15px;
      padding: 5px 12px;
      background: #007db8; }
    .masthead .search-container .autocomplete {
      position: relative;
      z-index: 9999;
      width: 100%; }
    .masthead .search-container .autocomplete-suggestions {
      width: 100%;
      background-color: #fff;
      -webkit-box-shadow: 2px 2px 5px #000000;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 2px 2px 5px #000000;
      box-shadow: 2px 2px 5px #000000;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      border-bottom: 3px solid #007db8;
      margin: 0;
      color: #007db8;
      padding: 10px 0 10px 0;
      line-height: 30px;
      -webkit-transition: transform 500ms ease;
      -moz-transition: transform 500ms ease;
      -ms-transition: transform 500ms ease;
      -o-transition: transform 500ms ease;
      transition: transform 500ms ease; }
    .masthead .search-container .autocomplete-suggestion {
      padding: 0 10px 0 15px; }
    .masthead .search-container .autocomplete-selected {
      background: #F0F0F0; }

header .utility-section-wrapper {
  position: relative;
  width: 100%;
  height: 65px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 -1px;
  background-color: #007db8; }

#phone-footer {
  padding-top: 10px; }

footer {
  background-color: #0085c3;
  color: #fff;
  margin-top: 20px; }
  footer a {
    /*padding: 10px 0 9px 20px;*/
    display: block; }
  footer li {
    list-style-type: none;
    padding: 0; }
    footer li > span {
      padding: 10px 0 9px 20px;
      display: block;
      cursor: pointer; }
    footer li > ul {
      display: none; }
    footer li.open > ul {
      border-top: 1px solid #aaa;
      background-color: #fff; }
  footer.well {
    padding: 0px; }
  footer .menu-container {
    position: relative; }
  footer .footer-menu {
    font-size: 11px; }
    footer .footer-menu .footer-top-section {
      position: relative;
      z-index: 0;
      background-color: #eee;
      color: #444;
      font-size: 14px;
      overflow: hidden; }
      footer .footer-menu .footer-top-section a {
        color: #444;
        text-decoration: none; }
        footer .footer-menu .footer-top-section a:hover {
          color: #00447c;
          text-decoration: none; }
      footer .footer-menu .footer-top-section .container {
        padding-left: 15px;
        padding-right: 15px; }
      footer .footer-menu .footer-top-section ul.menu-links {
        list-style: none;
        margin-bottom: 0;
        padding: 0; }
        footer .footer-menu .footer-top-section ul.menu-links.language li:first-child:after {
          content: "|";
          padding-left: 10px; }
        footer .footer-menu .footer-top-section ul.menu-links li {
          margin: 0; }
        footer .footer-menu .footer-top-section ul.menu-links.language {
          position: absolute;
          right: 0;
          top: 0; }
        footer .footer-menu .footer-top-section ul.menu-links.language li:first-child {
          padding-right: 5px; }
        footer .footer-menu .footer-top-section ul.menu-links li:last-child {
          padding-right: 0;
          border-bottom: none; }
        footer .footer-menu .footer-top-section ul.menu-links ul {
          padding: 0; }
    footer .footer-menu .footer-bottom-section ul.menu-links {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .footer-menu .footer-bottom-section ul.menu-links .disclaimer {
        padding-top: 25px;
        padding-bottom: 20px;
        font-size: 11px;
        line-height: 1.6em;
        letter-spacing: .04em;
        font-weight: 200;
        color: #cce7f3;
        opacity: 0.6; }
  footer .footer-top-shadow {
    content: "";
    width: 80%;
    height: 10px;
    left: 10%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: -10px auto 0;
    z-index: 0; }
  footer .footer-shadow-section {
    content: "";
    width: 80%;
    height: 10px;
    left: 10%;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin: -10px auto 0;
    z-index: 0; }
  footer .footer-bottom-section {
    padding: 10px 15px 0 15px;
    font-size: 11px;
    overflow: hidden; }
    footer .footer-bottom-section a, footer .footer-bottom-section span {
      padding: 10px 0 9px 5px; }
    footer .footer-bottom-section .list-inline > li a {
      color: white; }
    footer .footer-bottom-section span {
      display: block; }
  footer .footer-top-section a {
    padding: 10px 0 9px 20px; }
  footer .dropdown-toggle:after {
    padding-left: 5px; }
  footer .menu-links {
    list-style: none; }
  footer .country-list {
    display: none;
    position: relative;
    top: -260px;
    height: 268px;
    width: 224px;
    left: 140px;
    overflow-y: scroll;
    background: white;
    border: black 1px solid;
    border: 1px solid rgba(0, 0, 0, 0.15);
    list-style: none;
    padding-left: 0px; }
    footer .country-list li {
      border-bottom: 1px solid #aaa;
      padding: 3px 20px;
      font-size: 12px;
      line-height: 20px;
      height: 26px; }
  footer .contextual-legal {
    line-height: 1.6em;
    letter-spacing: .04em;
    font-weight: 200;
    color: #cce7f3;
    opacity: 0.6; }
    footer .contextual-legal a {
      color: #cce7f3;
      text-decoration: underline; }

i.menu-indicator {
  font-family: icon-ui;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin-right: 10px;
  position: absolute;
  top: 25%;
  right: 0;
  height: 18px; }

ul.tier1 {
  padding-left: 0;
  margin: 0; }
  ul.tier1 > li a {
    border-bottom: 1px solid #aaa; }
  ul.tier1 li {
    display: block;
    padding: 0;
    color: #007db8; }
  ul.tier1 ul {
    display: none;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 0; }
    ul.tier1 ul li {
      background-color: #fff;
      border-bottom: none;
      overflow: hidden; }
  ul.tier1 span {
    width: 85%;
    display: inline-block; }
ul.tier2 > li i.menu-indicator {
  color: #aaa; }
ul.tier2 li.open {
  overflow: visible; }
  ul.tier2 li.open ul.tier3 {
    border-bottom: 1px solid #aaa; }
ul.tier3 {
  border-left: 4px solid #007db8;
  padding: 0 0 0 15px; }
  ul.tier3 > li a {
    border-bottom: 1px dotted #aaa;
    padding-left: 15px; }
  ul.tier3 > li:first-child a {
    border-top: none; }
ul.tier4 {
  border-left: 4px solid #007db8;
  padding: 0 0 0 15px; }
ul li > a > i.menu-indicator:before, ul li > span > i.menu-indicator:before {
  content: "$"; }
ul li.open > ul {
  display: block; }
ul li.open > a > i.menu-indicator:before {
  content: "!"; }

.ie-mobile-7 .mh-searchform .icon-small-searchleft:before {
  content: 'Go';
  font-size: 18px; }
.ie-mobile-7 .icon-small-searchleft:before {
  content: "Search"; }

@media (max-width: 767px) {
  .shadow-overlay-left {
    width: 10px;
    height: 100%;
    position: absolute;
    z-index: 5;
    pointer-events: none;
    -webkit-box-shadow: inset 3px -2px 5px 0 rgba(50, 50, 50, 0.3);
    -moz-box-shadow: inset 3px -2px 5px 0 rgba(50, 50, 50, 0.3);
    box-shadow: inset 3px -2px 5px 0 rgba(50, 50, 50, 0.3); }

  .site-canvas {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease; }

  .masthead .navbar {
    z-index: 1049; }
  .masthead .input-group {
    width: 100%; }
    .masthead .input-group form {
      position: relative;
      display: table;
      border-collapse: separate;
      width: 100%; }
  .masthead .form-control {
    display: table-cell;
    padding: 6px 5px;
    /*border-radius: 0;*/ }
  .masthead .input-group form div {
    padding: 0; }
  .masthead .input-group form button {
    padding: 5px 11px;
    background-color: #007db8;
    border-color: #007db8;
    background-image: none; }
    .masthead .input-group form button i {
      color: #fff !important; }
  .masthead .utility li {
    position: inherit; }

  i.menu-indicator {
    position: relative; }

  ul.tier1 li {
    position: relative; }
  ul.tier3 {
    height: auto !important; }
  ul .utility {
    width: auto; }

  footer .footer-top-section li {
    padding: 0;
    border-bottom: 1px solid #aaa; }
  footer .footer-bottom-section ul.menu-links li {
    border-bottom: 1px solid #5eb0d7; }
    footer .footer-bottom-section ul.menu-links li:last-child {
      border-bottom: 1px solid transparent; }
  footer .footer-bottom-section ul.menu-links.list-inline li {
    display: block; }

  .openNav .site-canvas {
    -webkit-transform: translate3d(-276px, 0, 0);
    -moz-transform: translate3d(-276px, 0, 0);
    -ms-transform: translate3d(-276px, 0, 0);
    -o-transform: translate3d(-276px, 0, 0);
    transform: translate3d(-276px, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease; }
  .openNav .main-nav-section {
    display: block; } }
@media (min-width: 768px) {
  .masthead .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
  .masthead .utility-section-wrapper {
    border-bottom: 1px solid #0087c7; }
  .masthead .utility {
    width: auto;
    display: none; }
    .masthead .utility a {
      padding: 20px 15px 20px 15px; }
      .masthead .utility a:link, .masthead .utility a:visited {
        padding: 20px 15px 20px 15px; }
    .masthead .utility [class^=icon] {
      font-size: 18px; }
    .masthead .utility li .hidden-xs, .masthead .utility li .hidden-sm {
      display: inline !important; }
    .masthead .utility li h5 {
      font-size: 14px; }
  .masthead .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
  .masthead .utility-section {
    margin-left: auto;
    margin-right: auto;
    width: auto; }
  .masthead .main-nav-section {
    position: static;
    margin: 0 auto 0 auto;
    width: 970px;
    height: auto;
    background-color: transparent; }
    .masthead .main-nav-section ul a {
      padding-right: 20px; }
  .masthead .search-container {
    display: block;
    width: 48%;
    margin-top: 18px;
    float: left;
    position: relative;
    padding: 0;
    background-color: inherit;
    border: none; }
    .masthead .search-container .btn {
      top: 2px;
      right: 2px;
      padding: 2px 12px; }

  .openNav .site-canvas {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease; }

  .shadow-overlay-left {
    display: none; }

  .main-nav-section .tier1 a {
    color: white;
    text-decoration: none;
    padding-right: 20px; }
  .main-nav-section .tier1 i.menu-indicator {
    display: none; }
  .main-nav-section .tier2 a {
    text-decoration: none;
    padding: 7px 0 8px 20px;
    position: relative; }
  .main-nav-section .tier2 i.menu-indicator {
    display: block; }
    .main-nav-section .tier2 i.menu-indicator:before {
      content: "-"; }
  .main-nav-section li {
    padding: 7px 20px 8px;
    cursor: pointer; }

  ul.tier1 > li {
    display: inline-block;
    float: left;
    font-weight: 600; }
  ul.tier1 li {
    border-bottom: none; }
    ul.tier1 li a {
      border-bottom: none; }
    ul.tier1 li:hover {
      background: #fff;
      color: #007db8; }
    ul.tier1 li.mda:hover {
      background: none;
      color: #fff; }
    ul.tier1 li:hover a {
      color: #007db8; }
    ul.tier1 li.mda:hover a {
      color: #fff; }
    ul.tier1 li.mda a {
      cursor: default; }
  ul.tier1 li:hover ul.tier2 {
    display: block; }
  ul.tier1 li.open ul.tier2 li.open ul.tier3 {
    border-bottom: 4px solid #007db8; }
  ul.tier1 span, ul.tier2 span {
    width: auto; }
  ul.tier2 {
    border-bottom: 4px solid #007db8;
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 243px;
    background: #fff; }
    ul.tier2 li {
      height: auto;
      font-weight: normal;
      overflow: visible; }
      ul.tier2 li:hover {
        background: #cce7f3; }
      ul.tier2 li.subLinks {
        position: initial;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent; }
        ul.tier2 li.subLinks:hover, ul.tier2 li.subLinks:active {
          border-right: 1px solid transparent; }
        ul.tier2 li.subLinks:hover {
          background: #fff;
          border-top: 1px solid #cce7f3;
          border-bottom: 1px solid #cce7f3;
          background: -moz-linear-gradient(left, #f9f9f9 0%, white 100%);
          background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f9f9f9), color-stop(100%, white));
          background: -webkit-linear-gradient(left, #f9f9f9 0%, white 100%);
          background: -o-linear-gradient(left, #f9f9f9 0%, white 100%);
          background: -ms-linear-gradient(left, #f9f9f9 0%, white 100%);
          background: linear-gradient(to right, #f9f9f9 0%, white 100%); }
          ul.tier2 li.subLinks:hover:first-child {
            border-top: 1px solid transparent; }
    ul.tier2 > li {
      display: block;
      background: #fff;
      border-right: 1px solid #cce7f3;
      border-left: 1px solid #cce7f3;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent; }
      ul.tier2 > li i.menu-indicator {
        color: #007db8; }
    ul.tier2 span {
      width: 85%; }
    ul.tier2 li:hover ul.tier3 {
      display: block;
      position: absolute;
      left: 242px;
      top: 0;
      border-left: 1px solid #cce7f3;
      border-right: 1px solid #cce7f3;
      width: 225px;
      background: #fff;
      border-bottom: 4px solid #007db8;
      padding: 0; }
      ul.tier2 li:hover ul.tier3 li {
        display: block; }
        ul.tier2 li:hover ul.tier3 li a {
          display: block; }
  ul.tier3 li.subLinks {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent; }
  ul.tier3 li:hover ul.tier4 {
    display: block;
    position: absolute;
    left: 223px;
    top: 0;
    border-left: 1px solid #cce7f3;
    border-right: 1px solid #cce7f3;
    width: 225px;
    background: #fff;
    border-bottom: 4px solid #007db8;
    padding: 0; }
  ul.tier3, ul.tier4 {
    display: none;
    float: right;
    min-height: 100%; }
  ul li.open > ul {
    display: none; }

  footer .menu-container {
    margin: 0 auto; }
  footer .footer-shadow-section {
    margin: -14px auto 0; }
  footer .footer-menu .footer-top-section {
    background-color: #0085c3;
    padding: 20px 0; }
    footer .footer-menu .footer-top-section ul.menu-links {
      padding: 0 15px; }
      footer .footer-menu .footer-top-section ul.menu-links li {
        border-bottom: 0; }
        footer .footer-menu .footer-top-section ul.menu-links li > ul {
          display: block; }
      footer .footer-menu .footer-top-section ul.menu-links > li > a, footer .footer-menu .footer-top-section ul.menu-links > li > span {
        color: #fff;
        font-weight: 700;
        padding: 0 0 5px 20px; }
    footer .footer-menu .footer-top-section a {
      color: #fff;
      padding: 0 0 5px 20px; }
      footer .footer-menu .footer-top-section a:hover {
        color: #fff;
        text-decoration: underline; }
  footer .footer-bottom-section {
    text-align: center; }
    footer .footer-bottom-section .menu-links {
      margin: 10px 0; }
  footer .menu-indicator {
    display: none; } }
@media (min-width: 768px) and (orientation: portrait) {
  .masthead .utility-section {
    width: auto; }
  .masthead ul.utility {
    float: right; } }
/*@media (max-width: 991px) {

}*/
@media (min-width: 992px) {
  .masthead .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 970px; }
  .masthead .utility-section {
    width: 970px; }
  .masthead .utility {
    float: right; }
    .masthead .utility a {
      padding: 20px 10px; }
      .masthead .utility a:link, .masthead .utility a:visited {
        padding: 20px 10px; }
    .masthead .utility [class^=icon] {
      font-size: 20px; }

  footer .footer-menu .footer-top-section ul.menu-links {
    padding: 0; } }
@media (min-width: 1200px) {
  .masthead .utility-section, .masthead .main-nav-section {
    width: 1170px; }
  .masthead .container {
    width: 1170px; }
  .masthead .search-container {
    width: 68%; }

  footer .menu-container {
    width: 1170px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .masthead .container {
    margin-left: 5px;
    margin-right: 0;
    padding-right: 0;
    width: 100%; } }
