.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 1px;
  h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert-link {
    font-weight: bold;
  }
  > {
    p, ul {
      margin-bottom: 0;
    }
    p + p {
      margin-top: 5px;
    }
  }
}

.alert-dismissable, .alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close, .alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #6ea204;
  border-color: #738903;
  color: #6ea204;
  hr {
    border-top-color: #5e7003;
  }
  .alert-link {
    color: #4c7003;
  }
}

.alert-info {
  background-color: #42aeaf;
  border-color: #389586;
  color: #42aeaf;
  hr {
    border-top-color: #318376;
  }
  .alert-link {
    color: #34898a;
  }
}

.alert-warning {
  background-color: #ee6411;
  border-color: #d6390f;
  color: #ee6411;
  hr {
    border-top-color: #be330e;
  }
  .alert-link {
    color: #be500e;
  }
}

.alert-danger {
  background-color: #d74324;
  border-color: #c12120;
  color: #d74324;
  hr {
    border-top-color: #ab1e1d;
  }
  .alert-link {
    color: #ab351d;
  }
}

.alert {
  color: #444444;
  padding: 10px 35px 10px 45px;
  margin-bottom: 20px;
  text-shadow: none;
  background: #ffffc9;
  border: 1px solid #eeeeee;
  position: relative;
  h4 {
    margin-bottom: 0px;
    color: #444444;
  }
  p:last-child {
    margin-bottom: 0px;
  }
  :last-child {
    margin-bottom: 8px;
  }
  > {
    .alert-danger, .alert-error, .alert-info, .alert-success, .alert-warning {
      background: transparent;
      color: #444444;
      margin-bottom: 20px;
    }
  }
}

.alert-danger:before, .alert-error:before {
  content: "\e603";
  font-family: "icon-small";
  float: left;
  color: #ce1126;
  position: absolute;
  left: 10px;
  font-size: 20px;
  left: 0px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -5px;
}

.alert-info:before {
  content: "\e604";
  font-family: "icon-small";
  float: left;
  color: #007db8;
  position: absolute;
  left: 10px;
  font-size: 20px;
  left: 0px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -5px;
}

.alert-success:before {
  content: "\e611";
  font-family: "icon-small";
  float: left;
  color: #6ea204;
  position: absolute;
  left: 10px;
  font-size: 20px;
  left: 0px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -5px;
}

.alert-warning:before {
  content: "\e605";
  font-family: "icon-small";
  float: left;
  color: #d74324;
  position: absolute;
  left: 10px;
  font-size: 20px;
  left: 0px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -5px;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
  > {
    p, ul {
      margin-bottom: 0;
    }
  }
  p + p {
    margin-top: 5px;
  }
}