.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover, &:focus, &.focus {
    color: #f3f3f3;
    text-decoration: none;
  }
  &:active, &.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  &.disabled, &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity = 65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  color: #f3f3f3;
  background-color: #eeeeee;
  border-color: #cccccc;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #f3f3f3;
    background-color: #d5d5d5;
    border-color: #adadad;
  }
}

.open > .dropdown-toggle.btn-default {
  color: #f3f3f3;
  background-color: #d5d5d5;
  border-color: #adadad;
}

.btn-default {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default {
  &.disabled, &[disabled] {
    background-color: #eeeeee;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default {
  background-color: #eeeeee;
  border-color: #cccccc;
}

.btn-default {
  &.disabled:hover, &[disabled]:hover {
    background-color: #eeeeee;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default:hover {
  background-color: #eeeeee;
  border-color: #cccccc;
}

.btn-default {
  &.disabled:focus, &[disabled]:focus {
    background-color: #eeeeee;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default:focus {
  background-color: #eeeeee;
  border-color: #cccccc;
}

.btn-default {
  &.disabled.focus, &[disabled].focus {
    background-color: #eeeeee;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default.focus {
  background-color: #eeeeee;
  border-color: #cccccc;
}

.btn-default {
  &.disabled:active, &[disabled]:active {
    background-color: #eeeeee;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default:active {
  background-color: #eeeeee;
  border-color: #cccccc;
}

.btn-default {
  &.disabled.active, &[disabled].active {
    background-color: #eeeeee;
    border-color: #cccccc;
  }
}

fieldset[disabled] .btn-default.active {
  background-color: #eeeeee;
  border-color: #cccccc;
}

.btn-default .badge {
  color: #eeeeee;
  background-color: #f3f3f3;
}

.btn-primary {
  color: #ffffff;
  background-color: #007db8;
  border-color: #006c9f;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #ffffff;
    background-color: #005a85;
    border-color: #004261;
  }
}

.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #005a85;
  border-color: #004261;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  &.disabled, &[disabled] {
    background-color: #007db8;
    border-color: #006c9f;
  }
}

fieldset[disabled] .btn-primary {
  background-color: #007db8;
  border-color: #006c9f;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    background-color: #007db8;
    border-color: #006c9f;
  }
}

fieldset[disabled] .btn-primary:hover {
  background-color: #007db8;
  border-color: #006c9f;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    background-color: #007db8;
    border-color: #006c9f;
  }
}

fieldset[disabled] .btn-primary:focus {
  background-color: #007db8;
  border-color: #006c9f;
}

.btn-primary {
  &.disabled.focus, &[disabled].focus {
    background-color: #007db8;
    border-color: #006c9f;
  }
}

fieldset[disabled] .btn-primary.focus {
  background-color: #007db8;
  border-color: #006c9f;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    background-color: #007db8;
    border-color: #006c9f;
  }
}

fieldset[disabled] .btn-primary:active {
  background-color: #007db8;
  border-color: #006c9f;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    background-color: #007db8;
    border-color: #006c9f;
  }
}

fieldset[disabled] .btn-primary.active {
  background-color: #007db8;
  border-color: #006c9f;
}

.btn-primary .badge {
  color: #007db8;
  background-color: #ffffff;
}

.btn-success {
  color: #ffffff;
  background-color: #408001;
  border-color: #336701;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #ffffff;
    background-color: #274d01;
    border-color: #152a00;
  }
}

.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #274d01;
  border-color: #152a00;
}

.btn-success {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success {
  &.disabled, &[disabled] {
    background-color: #408001;
    border-color: #336701;
  }
}

fieldset[disabled] .btn-success {
  background-color: #408001;
  border-color: #336701;
}

.btn-success {
  &.disabled:hover, &[disabled]:hover {
    background-color: #408001;
    border-color: #336701;
  }
}

fieldset[disabled] .btn-success:hover {
  background-color: #408001;
  border-color: #336701;
}

.btn-success {
  &.disabled:focus, &[disabled]:focus {
    background-color: #408001;
    border-color: #336701;
  }
}

fieldset[disabled] .btn-success:focus {
  background-color: #408001;
  border-color: #336701;
}

.btn-success {
  &.disabled.focus, &[disabled].focus {
    background-color: #408001;
    border-color: #336701;
  }
}

fieldset[disabled] .btn-success.focus {
  background-color: #408001;
  border-color: #336701;
}

.btn-success {
  &.disabled:active, &[disabled]:active {
    background-color: #408001;
    border-color: #336701;
  }
}

fieldset[disabled] .btn-success:active {
  background-color: #408001;
  border-color: #336701;
}

.btn-success {
  &.disabled.active, &[disabled].active {
    background-color: #408001;
    border-color: #336701;
  }
}

fieldset[disabled] .btn-success.active {
  background-color: #408001;
  border-color: #336701;
}

.btn-success .badge {
  color: #408001;
  background-color: #ffffff;
}

.btn-info {
  color: #ffffff;
  background-color: #42aeaf;
  border-color: #3b9c9c;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #ffffff;
    background-color: #34898a;
    border-color: #2a6f70;
  }
}

.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #34898a;
  border-color: #2a6f70;
}

.btn-info {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info {
  &.disabled, &[disabled] {
    background-color: #42aeaf;
    border-color: #3b9c9c;
  }
}

fieldset[disabled] .btn-info {
  background-color: #42aeaf;
  border-color: #3b9c9c;
}

.btn-info {
  &.disabled:hover, &[disabled]:hover {
    background-color: #42aeaf;
    border-color: #3b9c9c;
  }
}

fieldset[disabled] .btn-info:hover {
  background-color: #42aeaf;
  border-color: #3b9c9c;
}

.btn-info {
  &.disabled:focus, &[disabled]:focus {
    background-color: #42aeaf;
    border-color: #3b9c9c;
  }
}

fieldset[disabled] .btn-info:focus {
  background-color: #42aeaf;
  border-color: #3b9c9c;
}

.btn-info {
  &.disabled.focus, &[disabled].focus {
    background-color: #42aeaf;
    border-color: #3b9c9c;
  }
}

fieldset[disabled] .btn-info.focus {
  background-color: #42aeaf;
  border-color: #3b9c9c;
}

.btn-info {
  &.disabled:active, &[disabled]:active {
    background-color: #42aeaf;
    border-color: #3b9c9c;
  }
}

fieldset[disabled] .btn-info:active {
  background-color: #42aeaf;
  border-color: #3b9c9c;
}

.btn-info {
  &.disabled.active, &[disabled].active {
    background-color: #42aeaf;
    border-color: #3b9c9c;
  }
}

fieldset[disabled] .btn-info.active {
  background-color: #42aeaf;
  border-color: #3b9c9c;
}

.btn-info .badge {
  color: #42aeaf;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #ee6411;
  border-color: #d65a0f;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #ffffff;
    background-color: #be500e;
    border-color: #9d420b;
  }
}

.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #be500e;
  border-color: #9d420b;
}

.btn-warning {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning {
  &.disabled, &[disabled] {
    background-color: #ee6411;
    border-color: #d65a0f;
  }
}

fieldset[disabled] .btn-warning {
  background-color: #ee6411;
  border-color: #d65a0f;
}

.btn-warning {
  &.disabled:hover, &[disabled]:hover {
    background-color: #ee6411;
    border-color: #d65a0f;
  }
}

fieldset[disabled] .btn-warning:hover {
  background-color: #ee6411;
  border-color: #d65a0f;
}

.btn-warning {
  &.disabled:focus, &[disabled]:focus {
    background-color: #ee6411;
    border-color: #d65a0f;
  }
}

fieldset[disabled] .btn-warning:focus {
  background-color: #ee6411;
  border-color: #d65a0f;
}

.btn-warning {
  &.disabled.focus, &[disabled].focus {
    background-color: #ee6411;
    border-color: #d65a0f;
  }
}

fieldset[disabled] .btn-warning.focus {
  background-color: #ee6411;
  border-color: #d65a0f;
}

.btn-warning {
  &.disabled:active, &[disabled]:active {
    background-color: #ee6411;
    border-color: #d65a0f;
  }
}

fieldset[disabled] .btn-warning:active {
  background-color: #ee6411;
  border-color: #d65a0f;
}

.btn-warning {
  &.disabled.active, &[disabled].active {
    background-color: #ee6411;
    border-color: #d65a0f;
  }
}

fieldset[disabled] .btn-warning.active {
  background-color: #ee6411;
  border-color: #d65a0f;
}

.btn-warning .badge {
  color: #ee6411;
  background-color: #ffffff;
}

.btn-danger {
  color: #ffffff;
  background-color: #d74324;
  border-color: #c13c20;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #ffffff;
    background-color: #ab351d;
    border-color: #8d2c18;
  }
}

.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #ab351d;
  border-color: #8d2c18;
}

.btn-danger {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger {
  &.disabled, &[disabled] {
    background-color: #d74324;
    border-color: #c13c20;
  }
}

fieldset[disabled] .btn-danger {
  background-color: #d74324;
  border-color: #c13c20;
}

.btn-danger {
  &.disabled:hover, &[disabled]:hover {
    background-color: #d74324;
    border-color: #c13c20;
  }
}

fieldset[disabled] .btn-danger:hover {
  background-color: #d74324;
  border-color: #c13c20;
}

.btn-danger {
  &.disabled:focus, &[disabled]:focus {
    background-color: #d74324;
    border-color: #c13c20;
  }
}

fieldset[disabled] .btn-danger:focus {
  background-color: #d74324;
  border-color: #c13c20;
}

.btn-danger {
  &.disabled.focus, &[disabled].focus {
    background-color: #d74324;
    border-color: #c13c20;
  }
}

fieldset[disabled] .btn-danger.focus {
  background-color: #d74324;
  border-color: #c13c20;
}

.btn-danger {
  &.disabled:active, &[disabled]:active {
    background-color: #d74324;
    border-color: #c13c20;
  }
}

fieldset[disabled] .btn-danger:active {
  background-color: #d74324;
  border-color: #c13c20;
}

.btn-danger {
  &.disabled.active, &[disabled].active {
    background-color: #d74324;
    border-color: #c13c20;
  }
}

fieldset[disabled] .btn-danger.active {
  background-color: #d74324;
  border-color: #c13c20;
}

.btn-danger .badge {
  color: #d74324;
  background-color: #ffffff;
}

.btn-link {
  color: #007db8;
  font-weight: normal;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:active, &.active, &[disabled] {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link {
  border-color: transparent;
  &:hover, &:focus, &:active {
    border-color: transparent;
  }
  &:hover, &:focus {
    color: #005a85;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled]:hover {
    color: #eeeeee;
    text-decoration: none;
  }
}

fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
  color: #eeeeee;
  text-decoration: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 5px;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}

.btn-block {
  display: block;
  width: 100%;
  + .btn-block {
    margin-top: 5px;
  }
}

input {
  &[type="submit"].btn-block, &[type="reset"].btn-block, &[type="button"].btn-block {
    width: 100%;
  }
}