fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #737373;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  &[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &[type="radio"], &[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }
  &[type="file"] {
    display: block;
  }
  &[type="range"] {
    display: block;
    width: 100%;
  }
}

select {
  &[multiple], &[size] {
    height: auto;
  }
}

input {
  &[type="file"]:focus, &[type="radio"]:focus, &[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #444444;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #444444;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &:focus {
    border-color: #007db8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 125, 184, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 125, 184, 0.6);
  }
  &::-moz-placeholder {
    color: #aaaaaa;
    opacity: 1;
  }
  &:-ms-input-placeholder, &::-webkit-input-placeholder {
    color: #aaaaaa;
  }
  &[disabled], &[readonly] {
    cursor: not-allowed;
    background-color: #f9f9f9;
    opacity: 1;
  }
}

fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #f9f9f9;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    &[type="date"], &[type="time"], &[type="datetime-local"], &[type="month"] {
      line-height: 34px;
    }
    &[type="date"].input-sm, &[type="time"].input-sm, &[type="datetime-local"].input-sm, &[type="month"].input-sm {
      line-height: 30px;
    }
    &[type="date"].input-lg, &[type="time"].input-lg, &[type="datetime-local"].input-lg, &[type="month"].input-lg {
      line-height: 46px;
    }
  }
}

.form-group {
  margin-bottom: 15px;
}

.radio, .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input {
  &[type="radio"][disabled], &[type="checkbox"][disabled], &[type="radio"].disabled, &[type="checkbox"].disabled {
    cursor: not-allowed;
  }
}

fieldset[disabled] input {
  &[type="radio"], &[type="checkbox"] {
    cursor: not-allowed;
  }
}

.radio-inline.disabled, .checkbox-inline.disabled {
  cursor: not-allowed;
}

fieldset[disabled] {
  .radio-inline, .checkbox-inline {
    cursor: not-allowed;
  }
}

.radio.disabled label, .checkbox.disabled label {
  cursor: not-allowed;
}

fieldset[disabled] {
  .radio label, .checkbox label {
    cursor: not-allowed;
  }
}

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  &.input-lg, &.input-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.input-sm, .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
}

select {
  &.input-sm, &.form-group-sm .form-control {
    height: 30px;
    line-height: 30px;
  }
}

textarea {
  &.input-sm, &.form-group-sm .form-control {
    height: auto;
  }
}

select[multiple] {
  &.input-sm, &.form-group-sm .form-control {
    height: auto;
  }
}

.input-lg, .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 5px;
}

select {
  &.input-lg, &.form-group-lg .form-control {
    height: 46px;
    line-height: 46px;
  }
}

textarea {
  &.input-lg, &.form-group-lg .form-control {
    height: auto;
  }
}

select[multiple] {
  &.input-lg, &.form-group-lg .form-control {
    height: auto;
  }
}

.has-feedback {
  position: relative;
  .form-control {
    padding-right: 42.5px;
  }
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.has-success {
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
    color: #6ea204;
  }
  .form-control {
    border-color: #6ea204;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: #4c7003;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #adf913;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #adf913;
    }
  }
  .input-group-addon {
    color: #6ea204;
    border-color: #6ea204;
    background-color: #6ea204;
  }
  .form-control-feedback {
    color: #6ea204;
  }
}

.has-warning {
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
    color: #ee6411;
  }
  .form-control {
    border-color: #ee6411;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: #be500e;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f5a270;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f5a270;
    }
  }
  .input-group-addon {
    color: #ee6411;
    border-color: #ee6411;
    background-color: #ee6411;
  }
  .form-control-feedback {
    color: #ee6411;
  }
}

.has-error {
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
    color: #d74324;
  }
  .form-control {
    border-color: #d74324;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: #ab351d;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e88c79;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e88c79;
    }
  }
  .input-group-addon {
    color: #d74324;
    border-color: #d74324;
    background-color: #d74324;
  }
  .form-control-feedback {
    color: #d74324;
  }
}

.has-feedback label {
  ~ .form-control-feedback {
    top: 25px;
  }
  &.sr-only ~ .form-control-feedback {
    top: 0;
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #848484;
}

@media (min-width: 768px) {
  .form-inline {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    .form-control-static {
      display: inline-block;
    }
    .input-group {
      display: inline-table;
      vertical-align: middle;
      .input-group-addon, .input-group-btn, .form-control {
        width: auto;
      }
      > .form-control {
        width: 100%;
      }
    }
    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }
    .radio, .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .radio label, .checkbox label {
      padding-left: 0;
    }
    .radio input[type="radio"], .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}

.form-horizontal {
  .radio, .checkbox, .radio-inline, .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
  }
  .radio, .checkbox {
    min-height: 27px;
  }
  .form-group {
    margin-left: -15px;
    margin-right: -15px;
  }
  .has-feedback .form-control-feedback {
    right: 15px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}