/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
  font-family: 'icon-small';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"], .icon-small-360-hinge, .icon-small-add, .icon-small-alertcomplete, .icon-small-alerterror, .icon-small-alertinfo, .icon-small-alertnotice, .icon-small-audiocard, .icon-small-audiospeaker, .icon-small-award, .icon-small-battery, .icon-small-bell, .icon-small-cables, .icon-small-calculator, .icon-small-calendar, .icon-small-carryingcase, .icon-small-cart, .icon-small-chat, .icon-small-checkmark, .icon-small-chipset, .icon-small-clock, .icon-small-cloud, .icon-small-color, .icon-small-computergeneric, .icon-small-contact, .icon-small-copy, .icon-small-data, .icon-small-deals, .icon-small-detachable, .icon-small-diagnostic, .icon-small-dimensionsweight, .icon-small-display, .icon-small-download, .icon-small-drivers, .icon-small-edit, .icon-small-employee, .icon-small-energyefficient, .icon-small-enterprise, .icon-small-e-value, .icon-small-gift-card, .icon-small-globe, .icon-small-graphics-card, .icon-small-harddrive, .icon-small-help, .icon-small-house, .icon-small-infrastructure, .icon-small-inktoner, .icon-small-keyboard, .icon-small-lightbulb, .icon-small-location, .icon-small-magnifying-glass, .icon-small-mail, .icon-small-memory, .icon-small-memorycardreader, .icon-small-missingimage, .icon-small-mobile, .icon-small-mouse, .icon-small-music, .icon-small-network, .icon-small-notebook, .icon-small-operatingsystem, .icon-small-opticaldrive, .icon-small-package, .icon-small-partners, .icon-small-performance, .icon-small-phone, .icon-small-photos, .icon-small-ports, .icon-small-powersupply, .icon-small-printer, .icon-small-processor, .icon-small-projector, .icon-small-protection, .icon-small-recycle, .icon-small-refresh, .icon-small-rss, .icon-small-save, .icon-small-scale-out, .icon-small-searchleft, .icon-small-secure, .icon-small-securesoftware, .icon-small-server, .icon-small-serverrack, .icon-small-share, .icon-small-shipping, .icon-small-socialnetworking, .icon-small-software, .icon-small-solutions, .icon-small-speakers, .icon-small-star, .icon-small-storage, .icon-small-support, .icon-small-surgeprotection, .icon-small-tablet, .icon-small-thinclient, .icon-small-touch, .icon-small-touch-pad, .icon-small-towergeneric, .icon-small-trash, .icon-small-tv, .icon-small-useraccount, .icon-small-video, .icon-small-videocard, .icon-small-virtualization, .icon-small-warranty, .icon-small-webcam, .icon-small-whitepaper, .icon-small-wireless, .icon-small-zoomin, .icon-small-zoomout {
  font-family: 'icon-small';
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ui-loading {
  height: 21px;
  width: 21px;
  background: url("img/loading-animation-square.gif") no-repeat;
  margin-top: -2px;
  margin-right: 2px;
}

.icon-small-360-hinge:before {
  content: "\e600";
}

.icon-small-add:before {
  content: "\e601";
}

.icon-small-alertcomplete:before {
  content: "\e602";
}

.icon-small-alerterror:before {
  content: "\e603";
}

.icon-small-alertinfo:before {
  content: "\e604";
}

.icon-small-alertnotice:before {
  content: "\e605";
}

.icon-small-audiocard:before {
  content: "\e606";
}

.icon-small-audiospeaker:before {
  content: "\e607";
}

.icon-small-award:before {
  content: "\e608";
}

.icon-small-battery:before {
  content: "\e609";
}

.icon-small-bell:before {
  content: "\e60a";
}

.icon-small-cables:before {
  content: "\e60b";
}

.icon-small-calculator:before {
  content: "\e60c";
}

.icon-small-calendar:before {
  content: "\e60d";
}

.icon-small-carryingcase:before {
  content: "\e60e";
}

.icon-small-cart:before {
  content: "\e60f";
}

.icon-small-chat:before {
  content: "\e610";
}

.icon-small-checkmark:before {
  content: "\e611";
}

.icon-small-chipset:before {
  content: "\e612";
}

.icon-small-clock:before {
  content: "\e613";
}

.icon-small-cloud:before {
  content: "\e614";
}

.icon-small-color:before {
  content: "\e615";
}

.icon-small-computergeneric:before {
  content: "\e616";
}

.icon-small-contact:before {
  content: "\e617";
}

.icon-small-copy:before {
  content: "\e618";
}

.icon-small-data:before {
  content: "\e619";
}

.icon-small-deals:before {
  content: "\e61a";
}

.icon-small-detachable:before {
  content: "\e61b";
}

.icon-small-diagnostic:before {
  content: "\e61c";
}

.icon-small-dimensionsweight:before {
  content: "\e61d";
}

.icon-small-display:before {
  content: "\e61e";
}

.icon-small-download:before {
  content: "\e61f";
}

.icon-small-drivers:before {
  content: "\e620";
}

.icon-small-edit:before {
  content: "\e621";
}

.icon-small-employee:before {
  content: "\e622";
}

.icon-small-energyefficient:before {
  content: "\e623";
}

.icon-small-enterprise:before {
  content: "\e624";
}

.icon-small-e-value:before {
  content: "\e625";
}

.icon-small-gift-card:before {
  content: "\e626";
}

.icon-small-globe:before {
  content: "\e627";
}

.icon-small-graphics-card:before {
  content: "\e628";
}

.icon-small-harddrive:before {
  content: "\e629";
}

.icon-small-help:before {
  content: "\e62a";
}

.icon-small-house:before {
  content: "\e62b";
}

.icon-small-infrastructure:before {
  content: "\e62c";
}

.icon-small-inktoner:before {
  content: "\e62d";
}

.icon-small-keyboard:before {
  content: "\e62e";
}

.icon-small-lightbulb:before {
  content: "\e62f";
}

.icon-small-location:before {
  content: "\e630";
}

.icon-small-magnifying-glass:before {
  content: "\e631";
}

.icon-small-mail:before {
  content: "\e632";
}

.icon-small-memory:before {
  content: "\e633";
}

.icon-small-memorycardreader:before {
  content: "\e634";
}

.icon-small-missingimage:before {
  content: "\e635";
}

.icon-small-mobile:before {
  content: "\e636";
}

.icon-small-mouse:before {
  content: "\e637";
}

.icon-small-music:before {
  content: "\e638";
}

.icon-small-network:before {
  content: "\e639";
}

.icon-small-notebook:before {
  content: "\e63a";
}

.icon-small-operatingsystem:before {
  content: "\e63b";
}

.icon-small-opticaldrive:before {
  content: "\e63c";
}

.icon-small-package:before {
  content: "\e63d";
}

.icon-small-partners:before {
  content: "\e63e";
}

.icon-small-performance:before {
  content: "\e63f";
}

.icon-small-phone:before {
  content: "\e640";
}

.icon-small-photos:before {
  content: "\e641";
}

.icon-small-ports:before {
  content: "\e642";
}

.icon-small-powersupply:before {
  content: "\e643";
}

.icon-small-printer:before {
  content: "\e644";
}

.icon-small-processor:before {
  content: "\e645";
}

.icon-small-projector:before {
  content: "\e646";
}

.icon-small-protection:before {
  content: "\e647";
}

.icon-small-recycle:before {
  content: "\e648";
}

.icon-small-refresh:before {
  content: "\e649";
}

.icon-small-rss:before {
  content: "\e64a";
}

.icon-small-save:before {
  content: "\e64b";
}

.icon-small-scale-out:before {
  content: "\e64c";
}

.icon-small-searchleft:before {
  content: "\e64d";
}

.icon-small-secure:before {
  content: "\e64e";
}

.icon-small-securesoftware:before {
  content: "\e64f";
}

.icon-small-server:before {
  content: "\e650";
}

.icon-small-serverrack:before {
  content: "\e651";
}

.icon-small-share:before {
  content: "\e652";
}

.icon-small-shipping:before {
  content: "\e653";
}

.icon-small-socialnetworking:before {
  content: "\e654";
}

.icon-small-software:before {
  content: "\e655";
}

.icon-small-solutions:before {
  content: "\e656";
}

.icon-small-speakers:before {
  content: "\e657";
}

.icon-small-star:before {
  content: "\e658";
}

.icon-small-storage:before {
  content: "\e659";
}

.icon-small-support:before {
  content: "\e65a";
}

.icon-small-surgeprotection:before {
  content: "\e65b";
}

.icon-small-tablet:before {
  content: "\e65c";
}

.icon-small-thinclient:before {
  content: "\e65d";
}

.icon-small-touch:before {
  content: "\e65e";
}

.icon-small-touch-pad:before {
  content: "\e65f";
}

.icon-small-towergeneric:before {
  content: "\e660";
}

.icon-small-trash:before {
  content: "\e661";
}

.icon-small-tv:before {
  content: "\e662";
}

.icon-small-useraccount:before {
  content: "\e663";
}

.icon-small-video:before {
  content: "\e664";
}

.icon-small-videocard:before {
  content: "\e665";
}

.icon-small-virtualization:before {
  content: "\e666";
}

.icon-small-warranty:before {
  content: "\e667";
}

.icon-small-webcam:before {
  content: "\e668";
}

.icon-small-whitepaper:before {
  content: "\e669";
}

.icon-small-wireless:before {
  content: "\e66a";
}

.icon-small-zoomin:before {
  content: "\e66b";
}

.icon-small-zoomout:before {
  content: "\e66c";
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
  font-family: 'icon-large';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-large-360-hinge, .icon-large-add, .icon-large-alertcomplete, .icon-large-alerterror, .icon-large-alertinfo, .icon-large-alertnotice, .icon-large-audicard, .icon-large-audiospeaker, .icon-large-award, .icon-large-battery, .icon-large-bell, .icon-large-cables, .icon-large-calculator, .icon-large-calendar, .icon-large-carryingcase, .icon-large-cart, .icon-large-chat, .icon-large-checkmark, .icon-large-chipset, .icon-large-clock, .icon-large-cloud, .icon-large-color, .icon-large-computergeneric, .icon-large-contact, .icon-large-copy, .icon-large-data, .icon-large-deals, .icon-large-detachable, .icon-large-diagnostic, .icon-large-dimensionsweight, .icon-large-display, .icon-large-download, .icon-large-drivers, .icon-large-edit, .icon-large-employee, .icon-large-energyefficient, .icon-large-enterprise, .icon-large-e-value, .icon-large-giftcard, .icon-large-globe, .icon-large-graphics-card, .icon-large-harddrive, .icon-large-help, .icon-large-house, .icon-large-infrastructure, .icon-large-inktoner, .icon-large-keyboard, .icon-large-lightbulb, .icon-large-location, .icon-large-magnifying-glass, .icon-large-mail, .icon-large-memory, .icon-large-memorycarreader, .icon-large-missingimage, .icon-large-mobile, .icon-large-mouse, .icon-large-music, .icon-large-network, .icon-large-notebook, .icon-large-operatingsystem, .icon-large-opticaldrive, .icon-large-package, .icon-large-partners, .icon-large-performance, .icon-large-phone, .icon-large-photos, .icon-large-ports, .icon-large-powersupply, .icon-large-printer, .icon-large-processor, .icon-large-projector, .icon-large-protection, .icon-large-recycle, .icon-large-refresh, .icon-large-rss, .icon-large-save, .icon-large-scale-out, .icon-large-searchleft, .icon-large-secure, .icon-large-securesoftware, .icon-large-server, .icon-large-serverrack, .icon-large-share, .icon-large-shipping, .icon-large-socialnetworking, .icon-large-software, .icon-large-solutions, .icon-large-speakers, .icon-large-star, .icon-large-storage, .icon-large-support, .icon-large-surgeprotection, .icon-large-tablet, .icon-large-thinclient, .icon-large-touch, .icon-large-touchpad, .icon-large-towergeneric, .icon-large-trash, .icon-large-tv, .icon-large-useraccount, .icon-large-video, .icon-large-videocard, .icon-large-virtualization, .icon-large-warranty, .icon-large-webcam, .icon-large-whitepaper, .icon-large-wireless, .icon-large-zoomin, .icon-large-zoomout {
  font-family: 'icon-large';
  font-size: 36px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large-icons li {
  height: 50px;
}

.icon-large-360-hinge:before {
  content: "\e600";
}

.icon-large-add:before {
  content: "\e601";
}

.icon-large-alertcomplete:before {
  content: "\e602";
}

.icon-large-alerterror:before {
  content: "\e603";
}

.icon-large-alertinfo:before {
  content: "\e604";
}

.icon-large-alertnotice:before {
  content: "\e605";
}

.icon-large-audicard:before {
  content: "\e606";
}

.icon-large-audiospeaker:before {
  content: "\e607";
}

.icon-large-award:before {
  content: "\e608";
}

.icon-large-battery:before {
  content: "\e609";
}

.icon-large-bell:before {
  content: "\e60a";
}

.icon-large-cables:before {
  content: "\e60b";
}

.icon-large-calculator:before {
  content: "\e60c";
}

.icon-large-calendar:before {
  content: "\e60d";
}

.icon-large-carryingcase:before {
  content: "\e60e";
}

.icon-large-cart:before {
  content: "\e60f";
}

.icon-large-chat:before {
  content: "\e610";
}

.icon-large-checkmark:before {
  content: "\e611";
}

.icon-large-chipset:before {
  content: "\e612";
}

.icon-large-clock:before {
  content: "\e613";
}

.icon-large-cloud:before {
  content: "\e614";
}

.icon-large-color:before {
  content: "\e615";
}

.icon-large-computergeneric:before {
  content: "\e616";
}

.icon-large-contact:before {
  content: "\e617";
}

.icon-large-copy:before {
  content: "\e618";
}

.icon-large-data:before {
  content: "\e619";
}

.icon-large-deals:before {
  content: "\e61a";
}

.icon-large-detachable:before {
  content: "\e61b";
}

.icon-large-diagnostic:before {
  content: "\e61c";
}

.icon-large-dimensionsweight:before {
  content: "\e61d";
}

.icon-large-display:before {
  content: "\e61e";
}

.icon-large-download:before {
  content: "\e61f";
}

.icon-large-drivers:before {
  content: "\e620";
}

.icon-large-edit:before {
  content: "\e621";
}

.icon-large-employee:before {
  content: "\e622";
}

.icon-large-energyefficient:before {
  content: "\e623";
}

.icon-large-enterprise:before {
  content: "\e624";
}

.icon-large-e-value:before {
  content: "\e625";
}

.icon-large-giftcard:before {
  content: "\e626";
}

.icon-large-globe:before {
  content: "\e627";
}

.icon-large-graphics-card:before {
  content: "\e628";
}

.icon-large-harddrive:before {
  content: "\e629";
}

.icon-large-help:before {
  content: "\e62a";
}

.icon-large-house:before {
  content: "\e62b";
}

.icon-large-infrastructure:before {
  content: "\e62c";
}

.icon-large-inktoner:before {
  content: "\e62d";
}

.icon-large-keyboard:before {
  content: "\e62e";
}

.icon-large-lightbulb:before {
  content: "\e62f";
}

.icon-large-location:before {
  content: "\e630";
}

.icon-large-magnifying-glass:before {
  content: "\e631";
}

.icon-large-mail:before {
  content: "\e632";
}

.icon-large-memory:before {
  content: "\e633";
}

.icon-large-memorycarreader:before {
  content: "\e634";
}

.icon-large-missingimage:before {
  content: "\e635";
}

.icon-large-mobile:before {
  content: "\e636";
}

.icon-large-mouse:before {
  content: "\e637";
}

.icon-large-music:before {
  content: "\e638";
}

.icon-large-network:before {
  content: "\e639";
}

.icon-large-notebook:before {
  content: "\e63a";
}

.icon-large-operatingsystem:before {
  content: "\e63b";
}

.icon-large-opticaldrive:before {
  content: "\e63c";
}

.icon-large-package:before {
  content: "\e63d";
}

.icon-large-partners:before {
  content: "\e63e";
}

.icon-large-performance:before {
  content: "\e63f";
}

.icon-large-phone:before {
  content: "\e640";
}

.icon-large-photos:before {
  content: "\e641";
}

.icon-large-ports:before {
  content: "\e642";
}

.icon-large-powersupply:before {
  content: "\e643";
}

.icon-large-printer:before {
  content: "\e644";
}

.icon-large-processor:before {
  content: "\e645";
}

.icon-large-projector:before {
  content: "\e646";
}

.icon-large-protection:before {
  content: "\e647";
}

.icon-large-recycle:before {
  content: "\e648";
}

.icon-large-refresh:before {
  content: "\e649";
}

.icon-large-rss:before {
  content: "\e64a";
}

.icon-large-save:before {
  content: "\e64b";
}

.icon-large-scale-out:before {
  content: "\e64c";
}

.icon-large-searchleft:before {
  content: "\e64d";
}

.icon-large-secure:before {
  content: "\e64e";
}

.icon-large-securesoftware:before {
  content: "\e64f";
}

.icon-large-server:before {
  content: "\e650";
}

.icon-large-serverrack:before {
  content: "\e651";
}

.icon-large-share:before {
  content: "\e652";
}

.icon-large-shipping:before {
  content: "\e653";
}

.icon-large-socialnetworking:before {
  content: "\e654";
}

.icon-large-software:before {
  content: "\e655";
}

.icon-large-solutions:before {
  content: "\e656";
}

.icon-large-speakers:before {
  content: "\e657";
}

.icon-large-star:before {
  content: "\e658";
}

.icon-large-storage:before {
  content: "\e659";
}

.icon-large-support:before {
  content: "\e65a";
}

.icon-large-surgeprotection:before {
  content: "\e65b";
}

.icon-large-tablet:before {
  content: "\e65c";
}

.icon-large-thinclient:before {
  content: "\e65d";
}

.icon-large-touch:before {
  content: "\e65e";
}

.icon-large-touchpad:before {
  content: "\e65f";
}

.icon-large-towergeneric:before {
  content: "\e660";
}

.icon-large-trash:before {
  content: "\e661";
}

.icon-large-tv:before {
  content: "\e662";
}

.icon-large-useraccount:before {
  content: "\e663";
}

.icon-large-video:before {
  content: "\e664";
}

.icon-large-videocard:before {
  content: "\e665";
}

.icon-large-virtualization:before {
  content: "\e666";
}

.icon-large-warranty:before {
  content: "\e667";
}

.icon-large-webcam:before {
  content: "\e668";
}

.icon-large-whitepaper:before {
  content: "\e669";
}

.icon-large-wireless:before {
  content: "\e66a";
}

.icon-large-zoomin:before {
  content: "\e66b";
}

.icon-large-zoomout:before {
  content: "\e66c";
}

[data-icon]:before {
  font-family: 'icon-ui';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-ui-arrowleft, .icon-ui-arrowright, .icon-ui-close, .icon-ui-closecircle, .icon-ui-collapse, .icon-ui-dell, .icon-ui-expand, .icon-ui-grid-view, .icon-ui-list-view, .icon-ui-menucollapsed, .icon-ui-minus, .icon-ui-pause, .icon-ui-play, .icon-ui-plus, .icon-ui-triangledown, .icon-ui-triangleleft, .icon-ui-triangleright, .icon-ui-triangleup {
  font-family: 'icon-ui';
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ui-loading {
  height: 21px;
  width: 21px;
  background: url("img/loading-animation-square.gif") no-repeat;
  margin-top: -2px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: middle;
}

.icon-ui-arrowleft:before {
  content: "\e600";
}

.icon-ui-arrowright:before {
  content: "\e601";
}

.icon-ui-close:before {
  content: "\e602";
}

.icon-ui-closecircle:before {
  content: "\e603";
}

.icon-ui-collapse:before {
  content: "\e604";
}

.icon-ui-dell:before {
  content: "\e605";
}

.icon-ui-expand:before {
  content: "\e606";
}

.icon-ui-grid-view:before {
  content: "\e607";
}

.icon-ui-list-view:before {
  content: "\e608";
}

.icon-ui-menucollapsed:before {
  content: "\e609";
}

.icon-ui-minus:before {
  content: "\e60a";
}

.icon-ui-pause:before {
  content: "\e60b";
}

.icon-ui-play:before {
  content: "\e60c";
}

.icon-ui-plus:before {
  content: "\e60d";
}

.icon-ui-triangledown:before {
  content: "\e60e";
}

.icon-ui-triangleleft:before {
  content: "\e60f";
}

.icon-ui-triangleright:before {
  content: "\e610";
}

.icon-ui-triangleup:before {
  content: "\e611";
}

[class*=icon-small-favorite] {
  background-image: url("img/dell-glyphons-halflings-multi-color.png");
  background-position: -281px -43px;
  display: inline-block;
  height: 21px;
  width: 24px;
  vertical-align: middle;
  margin: 3px 0px;
}

.icon-small-favorite-90 {
  background-position: -250px -43px;
}

.icon-small-favorite-80 {
  background-position: -219px -43px;
}

.icon-small-favorite-70 {
  background-position: 176px -43px;
}

.icon-small-favorite-60 {
  background-position: -159px -43px;
}

.icon-small-favorite-50 {
  background-position: -129px -43px;
}

.icon-small-favorite-40 {
  background-position: -99px -43px;
}

.icon-small-favorite-30 {
  background-position: -69px -43px;
}

.icon-small-favorite-20 {
  background-position: -39px -43px;
}

.icon-small-favorite-10 {
  background-position: -9px -43px;
}

.icon-small-favorite-0 {
  background-position: -279px -14px;
}