.icon-font {
  font-family: 'icon-small';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased
}

html {
  -ms-overflow-style: scrollbar
}

.no-top-bottom-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.top-offset-10 {
  margin-top: 10px
}

.top-offset-20 {
  margin-top: 20px
}

.bottom-offset-10 {
  margin-bottom: 10px
}

.bottom-offset-20 {
  margin-bottom: 20px
}

#logoImg {
  width: auto
}

.opt-in-out {
  background: #003758;
  width: 100%;
  padding: 15px 0
}

.opt-in-out span {
  color: white
}

.opt-in-out .opt-yes-no {
  color: #d9edf6;
  cursor: pointer
}

.opt-in-out .opt-yes-no:hover {
  text-decoration: underline;
  color: #d9edf6
}

.spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #0087c7;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg)
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg)
}

.circle1 {
  top: 0;
  left: 0
}

.circle2 {
  top: 0;
  right: 0
}

.circle3 {
  right: 0;
  bottom: 0
}

.circle4 {
  left: 0;
  bottom: 0
}

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s
}

.container3 .circle1 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1)
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0)
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1)
  }
}

.masthead {
  margin-bottom: 20px;
  color: #fff
}

.masthead .navbar {
  margin-bottom: 0;
  border-bottom: none;
  border-radius: 0;
  z-index: 4050
}

.masthead .navbar-inverse, .masthead .navbar-toggle {
  border-color: transparent
}

#masthead .navbar-inverse {
  background-color: #007db8
}

.masthead .navbar-brand {
  padding: 0;
  margin-top: 13px;
  width: 65px
}

.masthead .navbar-brand a:hover {
  text-decoration: none
}

header .utility-section-wrapper {
  position: relative;
  width: 100%;
  height: 65px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 -1px
}

.masthead .form-control {
  display: inline;
  border-radius: 0
}

.masthead .svg-icon-dell {
  margin-left: 10px;
  font-size: 40px;
  color: #fff
}

.masthead .form-search {
  margin-top: 18px;
  float: left;
  position: relative
}

.masthead .form-search .search-query {
  height: 30px
}

.masthead .form-search .btn {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 4px 12px;
  border-radius: 0
}

.masthead .form-search .btn:hover, .masthead .form-search .btn:focus, .masthead .form-search .btn:active, .masthead .form-search .btn:visited {
  color: #007db8
}

.masthead ul.utility {
  margin: 0;
  padding-left: 0;
  width: 185px;
  display: inline-block;
  float: right
}

.masthead li {
  list-style-type: none
}

.masthead li.dropdown {
  display: inline-block;
  float: left;
  position: relative
}

.masthead li.dropdown .dropdown-menu {
  position: absolute;
  margin: 0;
  padding: 0;
  top: auto;
  left: 0;
  width: 100%;
  color: #444;
  border-radius: 0;
  border-top: 1px solid #fff;
  border-right: 1px solid #cce7f3;
  border-bottom: 4px solid #007db8;
  border-left: 1px solid #cce7f3;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff
}

.masthead li.dropdown .dropdown-menu .row {
  margin-left: -15px;
  margin-right: -15px
}

.masthead li.dropdown .dropdown-menu h5 {
  margin: 10px 0;
  padding: 0;
  color: #007db8
}

.masthead li.dropdown .dropdown-menu h5.flyout-signin {
  font-size: 14px
}

.masthead li.dropdown .dropdown-menu h5 a {
  padding: 0
}

.masthead li.dropdown .dropdown-menu hr {
  margin: 10px 0;
  border-top: 1px solid #ccc
}

.masthead li.dropdown .flyout-cart-content .list-inline {
  padding-left: 15px
}

.masthead li.dropdown .flyout-cart-content small {
  font-size: 14px
}

.masthead li.dropdown .flyout-cart-content a:hover {
  color: #00447c;
  cursor: pointer
}

.masthead li.dropdown .dropdown-menu .flyout-btn {
  padding: 0
}

.masthead li.dropdown .dropdown-menu .flyout-cart-links {
  text-decoration: none;
  background-color: #fff;
  background: none;
  border: none
}

.masthead li.dropdown .saved-carts a, .masthead li.dropdown .saved-carts li {
  margin: 0;
  padding: 0
}

.masthead li.dropdown .flyout-cart-content .list-inline li {
  padding: 0
}

.sign-in-bullets ul {
  margin-left: 30px;
  padding-left: 0;
  list-style-type: disc
}

.sign-in-bullets ul li {
  list-style-type: disc
}

.masthead .utility li.open {
  background: #fff
}

.masthead .utility li.open i, .masthead .utility li.open a {
  color: #007db8
}

.masthead .utility a, .masthead .utility a:link, .masthead .utility a:visited {
  margin: 0;
  padding: 20px 10px 20px 10px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
  display: block
}

.masthead .utility a:hover, .masthead .utility a:focus {
  text-decoration: none;
  color: #cce7f3
}

.masthead .utility a:hover {
  color: #cce7f3
}

.masthead .navbar-toggle:hover {
  background-color: transparent
}

.masthead .utility [class^=icon] {
  font-size: 18px
}

.masthead .utility .badge [class^=icon] {
  font-size: 6px;
  color: #fff
}

.masthead .utility .icon-ui-menucollapsed {
  font-size: 16px
}

.masthead .utility .badge {
  position: absolute;
  top: 14px;
  left: 24px;
  width: 14px;
  height: 14px;
  display: inline-block;
  min-width: 10px;
  padding: 4px 4px 4px 3px;
  font-size: 6px;
  font-weight: 700;
  color: #fff;
  line-height: 0;
  white-space: nowrap;
  text-align: left;
  background-color: #6ea204;
  border-radius: 10px
}

.masthead #signin-link {
  position: relative;
  cursor: pointer
}

.masthead-shadow-section {
  content: "";
  width: 80%;
  height: 10px;
  left: 10%;
  border-radius: 50%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
  margin: -10px auto 0
}

.masthead .navbar-inverse .navbar-toggle {
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0
}

.masthead .main-nav-section {
  position: absolute;
  z-index: 999;
  top: 0;
  right: -276px;
  width: 276px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #eee;
  color: #444;
  height: 5000px
}

.main-nav-section .contact-us-container {
  position: static
}

.main-nav-section ul a {
  display: block;
  padding: 10px 0 9px 20px;
  text-decoration: none
}

ul.tier1 {
  padding-left: 0;
  margin: 0
}

i.menu-indicator {
  font-family: icon-ui;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin-right: 10px;
  position: absolute;
  top: 25%;
  right: 0;
  height: 18px
}

li > a > i.menu-indicator:before {
  content: "\24"
}

li.open > a > i.menu-indicator:before {
  content: "\21"
}

ul.tier2 > li i.menu-indicator {
  color: #aaa
}

ul.tier1 > li a {
  border-bottom: 1px solid #aaa
}

ul.tier1 li {
  display: block;
  padding: 0;
  color: #007db8
}

ul.tier2, ul.tier3 {
  padding-left: 0
}

ul.tier2 li, ul.tier3 li {
  background-color: #fff;
  border-bottom: none;
  overflow: hidden;
  display: none;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s
}

ul.tier1 li.open ul.tier2 > li {
  display: block
}

ul.tier1 li.open ul.tier2 li.open ul.tier3 {
  border-bottom: 1px solid #aaa
}

ul.tier1 li.open ul.tier2 li.open ul.tier3 > li {
  display: block
}

ul.tier3 li.open ul.tier4 > li {
  display: block;
}

ul.tier2 li.open {
  overflow: visible
}

ul.tier3 {
  border-left: 4px solid #007db8;
  /*padding: 0 15px*/
  padding: 0 0 0 15px;
}

ul.tier4 {
  border-left: 4px solid #007db8;
  padding: 0 0 0 15px;
}

ul.tier3 > li a {
  border-bottom: 1px dotted #aaa;
  padding-left: 15px
}

ul.tier3 > li:last-child a {
  border-bottom: none
}

ul.tier3 > li:first-child a {
  border-top: none
}

ul.tier1 span, ul.tier2 span {
  width: 85%;
  display: inline-block
}

ul.tier3 span {
  width: auto
}

.contact-us-panel {
  padding: 0 20px 0;
  margin: 10px 0 0 0;
  background: transparent;
  display: inline-block;
  width: 245px
}

.contact-us-panel li, .contact-us-panel li a {
  padding: 0
}

.contact-us-panel .icon {
  float: left;
  min-height: 80px;
  margin-right: 10px;
  color: #007db8
}

.contact-us-panel li {
  clear: both
}

.contact-us-panel li p {
  margin-bottom: 2px
}

@media (max-width: 767px) {
  body.alienware .masthead a {
    color: #007db8
  }

  .masthead .navbar {
    z-index: 1049
  }

  .masthead .input-group {
    width: 100%
  }

  .masthead .input-group form {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%
  }

  .masthead .form-control {
    display: table-cell;
    padding: 6px 5px;
    border-radius: 0
  }

  .masthead .input-group form div {
    padding: 0
  }

  .masthead .input-group form button {
    padding: 5px 11px;
    background-color: #007db8;
    border-color: #007db8;
    background-image: none
  }

  .masthead .input-group form button i {
    color: #fff !important
  }

  i.menu-indicator {
    position: relative
  }

  .masthead ul.utility {
    width: auto
  }

  .masthead li.dropdown {
    position: inherit
  }

  ul.tier1 li {
    position: relative
  }

  ul.tier3 {
    height: auto !important
  }
}

@media (min-width: 768px) {
  .masthead .form-search {
    display: inline-block !important;
    width: 60%
  }

  .masthead .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%
  }

  .masthead .utility-section-wrapper {
    border-bottom: 1px solid #0087c7
  }

  .masthead ul.utility {
    width: auto
  }

  .masthead li.dropdown .dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    top: auto;
    left: -260px;
    width: 320px;
    min-height: 225px;
    color: #444;
    border-radius: 0;
    border-top: 1px solid #fff;
    border-right: 1px solid #cce7f3;
    border-bottom: 4px solid #007db8;
    border-left: 1px solid #cce7f3;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff
  }

  .masthead li.dropdown .dropdown-menu h5 {
    margin: 10px 0;
    padding: 0;
    color: #007db8
  }

  .masthead .utility a, .masthead .utility a:link, .masthead .utility a:visited {
    padding: 20px 15px 20px 15px
  }

  .masthead .utility [class^=icon] {
    font-size: 18px
  }

  .masthead #user_name {
    display: inline-block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 175px;
    vertical-align: bottom
  }

  .masthead .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 970px
  }

  .masthead .utility-section {
    margin-left: auto;
    margin-right: auto;
    width: auto
  }

  .masthead li.dropdown .dropdown-menu {
    margin-top: 0;
    left: auto;
    right: 0;
    width: 320px;
    min-height: 225px;
    color: #444;
    border-radius: 0;
    border-top: 0;
    border-right: 1px solid #cce7f3;
    border-bottom: 4px #007db8 solid;
    border-left: 1px solid #cce7f3;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .masthead li.dropdown .hidden-xs, .masthead li.dropdown .hidden-sm {
    display: inline !important
  }

  .masthead li.dropdown h5 {
    font-size: 14px
  }

  .openNav .site-canvas {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease
  }

  .shadow-overlay-left {
    display: none
  }

  .masthead .main-nav-section {
    position: static;
    margin: 0 auto 0 auto;
    width: 970px;
    height: auto;
    background-color: transparent
  }

  .main-nav-section .tier1 a {
    color: white;
    text-decoration: none;
    padding-right: 20px
  }

  .main-nav-section .tier1 i.menu-indicator {
    display: none
  }

  .main-nav-section li {
    padding: 7px 20px 8px;
    cursor: pointer
  }

  ul.tier1 li, ul.tier1 li a {
    border-bottom: none
  }

  .tier1 > li {
    display: inline-block;
    float: left;
    padding: 7px 20px 8px;
    font-weight: 600
  }

  ul.tier1 span, ul.tier2 span {
    width: auto
  }

  .tier1 li:hover {
    background: #fff;
    color: #007db8
  }

  .tier1 li.mda:hover {
    background: none;
    color: #fff
  }

  .tier1 li:hover a {
    color: #007db8
  }

  .tier1 li.mda:hover a {
    color: #fff
  }

  .tier1 li.mda a {
    cursor: default
  }

  ul.tier2 {
    border-bottom: 4px solid #007db8
  }

  .main-nav-section .tier2 a {
    text-decoration: none;
    padding: 7px 0 8px 20px;
    position: relative
  }

  ul.tier2 li {
    height: auto;
    font-weight: normal;
    overflow: visible
  }

  .tier2 li:hover {
    background: #cce7f3
  }

  .tier2 li.subLinks {
    position: initial
  }

  .tier2 li.subLinks:hover, .tier2 li.subLinks:active {
    border-right: 1px solid transparent
  }

  .tier2 li.subLinks:hover {
    background: #fff;
    border-top: 1px solid #cce7f3;
    border-bottom: 1px solid #cce7f3;
    background: -moz-linear-gradient(left, #f9f9f9 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f9f9f9), color-stop(100%, #fff));
    background: -webkit-linear-gradient(left, #f9f9f9 0%, #fff 100%);
    background: -o-linear-gradient(left, #f9f9f9 0%, #fff 100%);
    background: -ms-linear-gradient(left, #f9f9f9 0%, #fff 100%);
    background: linear-gradient(to right, #f9f9f9 0%, #fff 100%)
  }

  .tier2 li.subLinks:hover:first-child {
    border-top: 1px solid transparent
  }

  ul.tier2 {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 243px;
    background: #fff
  }

  .main-nav-section .tier2 i.menu-indicator {
    display: block
  }

  .main-nav-section .tier2 i.menu-indicator:before {
    content: "\2d"
  }

  ul.tier2 > li i.menu-indicator {
    color: #007db8
  }

  ul.tier2 span {
    width: 85%
  }

  ul.tier1 li:hover ul.tier2 {
    display: block
  }

  ul.tier2 > li {
    display: block;
    background: #fff;
    border-right: 1px solid #cce7f3;
    border-left: 1px solid #cce7f3;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent
  }

  .main-nav-section ul.tier3 {
    display: none;
    float: right
  }

  .main-nav-section ul.tier4 {
    display: none;
    float: right;
  }

  ul.tier1 li.open ul.tier2 li.open ul.tier3 {
    border-bottom: 4px solid #007db8
  }

  ul.tier2 li:hover ul.tier3 {
    display: block;
    position: absolute;
    left: 242px;
    top: 0;
    border-left: 1px solid #cce7f3;
    border-right: 1px solid #cce7f3;
    width: 225px;
    background: #fff;
    border-bottom: 4px solid #007db8;
    padding: 0
  }

  ul.tier2 li:hover ul.tier3 li {
    display: block
  }

  ul.tier2 li:hover ul.tier3 li a {
    display: block;
    /*width: 85%;*/
    /*width: 100%;*/
  }

  ul.tier3 li.subLinks {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  
  ul.tier3 li:hover ul.tier4 {
    display: block;
    position: absolute;
    left: 223px;
    top: 0;
    border-left: 1px solid #cce7f3;
    border-right: 1px solid #cce7f3;
    width: 225px;
    background: #fff;
    border-bottom: 4px solid #007db8;
    padding: 0;
  }

  .main-nav-section .contact-us-panel {
    display: none
  }

  .contact-us-container .contact-us-panel {
    position: fixed;
    top: 150px;
    right: -245px;
    z-index: 9999;
    padding-top: 20px;
    background-color: #fff;
    -moz-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
    border: 1px solid #f9f9f9;
    border-top: 1px solid #eee
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .masthead .form-search {
    width: 49%
  }

  .masthead .utility-section {
    width: auto
  }

  .masthead ul.utility {
    float: right
  }
}

@media (max-width: 991px) {
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%
  }

  .openNav .site-canvas {
    left: 0;
    -webkit-transform: translate3d(-276px, 0, 0);
    -moz-transform: translate3d(-276px, 0, 0);
    -ms-transform: translate3d(-276px, 0, 0);
    -o-transform: translate3d(-276px, 0, 0);
    transform: translate3d(-276px, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease
  }

  .site-canvas {
    left: 0;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease
  }

  .openNav .shadow-overlay-left {
    width: 10px;
    height: 100%;
    position: absolute;
    z-index: 5;
    pointer-events: none;
    -webkit-box-shadow: inset 3px -2px 5px 0 rgba(50, 50, 50, 0.3);
    -moz-box-shadow: inset 3px -2px 5px 0 rgba(50, 50, 50, 0.3);
    box-shadow: inset 3px -2px 5px 0 rgba(50, 50, 50, 0.3)
  }
}

@media (min-width: 992px) {
  .masthead .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 970px
  }

  .masthead .utility-section {
    width: 970px
  }

  .masthead ul.utility {
    float: right
  }

  .masthead li.dropdown .dropdown-menu {
    margin-top: 0;
    left: auto;
    right: 0;
    width: 320px;
    min-height: 225px;
    color: #444;
    border-radius: 0;
    border-top: 0;
    border-right: 1px solid #cce7f3;
    border-bottom: 4px #007db8 solid;
    border-left: 1px solid #cce7f3;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .masthead .utility a, .masthead .utility a:link, .masthead .utility a:visited {
    padding: 20px 10px
  }

  .masthead .utility [class^=icon] {
    font-size: 20px
  }
}

@media (min-width: 1200px) {
  .masthead .form-search {
    width: 68%
  }

  .masthead .utility-section, .masthead .main-nav-section {
    width: 1170px
  }
}

#message-bar {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding-top: 5px
}

.masthead .message-bar-container {
  display: flex
}

.message-bar-image {
  padding: 0;
  margin: auto
}

.message-bar-image img {
  max-height: 40px
}

.message-bar-content {
  margin: auto;
  padding-right: 0
}

.mb-long-message {
  padding-right: 5px;
  display: initial !important
}

.vertical-divider {
  padding-left: 3px;
  padding-right: 5px
}

.message-bar-counter {
  font-weight: bold;
  font-size: 24px;
  padding: 0
}

.message-bar-timer {
  text-align: right;
  padding: 0;
  margin: auto
}

.mb-counter-label {
  color: #a9a9a9;
  white-space: nowrap;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding-top: 5px
}

.mb-counter-label-hrs {
  padding-right: 0;
  padding-left: 7px
}

.mb-counter-label-mins {
  padding-left: 0;
  padding-right: 0
}

.mb-counter-label-sec {
  padding-left: 0;
  padding-right: 6px
}

.message-bar-counter-labels span {
  padding-left: 0;
  padding-right: 0
}

.mb-counter-Hours, .mb-counter-Minutes, .mb-counter-Seconds {
  padding-right: 0;
  text-align: right
}

.mb-counter-timer .col-md-3, .mb-counter-timer .col-md-1, .mb-counter-timer {
  padding: 0
}

.mb-counter-timer .countSeconds {
  text-align: left
}

.mb-counter-timer .countHours {
  text-align: right
}

.mb-counter-labels {
  padding-left: 0;
  padding-right: 0
}

.message-bar-content .mb-short-message .mb-counter-timer-sm span {
  padding-right: 0
}

.mb-counter-timer-sm {
  padding-top: 1px
}

.mb-counter-timer-sm .col-md-3, .mb-counter-timer-sm .col-md-1 {
  padding-left: 0
}

.mb-counter-timer .second-digit {
  margin-left: -5px
}

.message-bar-cta2 {
  display: initial !important
}

.message-bar-span {
  display: inline-flex
}

#message-bar .message-bar-content .force-hide {
  display: none !important
}

@media (min-width: 1200px) {
  .masthead .container {
    width: 1170px
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .masthead .container {
    margin-left: 5px;
    margin-right: 0;
    padding-right: 0;
    width: 100%
  }
}

@media (max-width: 991px) {
  .masthead .message-bar-container {
    padding-left: 15px
  }

  .message-bar-content {
    margin: auto 0;
    padding-left: 0
  }

  .message-bar-content .mb-short-message span {
    float: left;
    display: flex !important;
    padding-right: 6px
  }

  .message-bar-content .mb-short-message {
    display: initial !important
  }

  .message-bar-content span {
    padding-right: 5px;
    font-size: 12px
  }

  .vertical-divider {
    padding-left: 0
  }
}

body.alienware #message-bar {
  background-color: black;
  border: none;
  color: white
}

@media (max-width: 991px) {
  body.alienware .message-bar-span a {
    color: #25e9eb
  }
}

.autocomplete-suggestions {
  background: #fff;
  font-size: 14px;
  color: #007db8;
  overflow: hidden;
  width: 100%
}

.autocomplete-suggestion {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid #aaa;
  padding: 10px 20px;
  width: 100%;
  text-overflow: ellipsis
}

.autocomplete-selected {
  background: #f0f0f0;
  background-color: #cce7f3
}

.autocomplete-suggestion strong {
  font-weight: bold;
  line-height: normal;
  color: #007db8
}

@media (max-width: 767px) {
  .autocomplete-suggestions {
    top: 48px;
    left: 0;
    border-bottom: 4px solid #007db8
  }
}

@media (min-width: 768px) {
  .autocomplete-suggestions {
    top: 32px;
    border-left: 1px solid #007db8;
    border-right: 1px solid #007db8;
    border-top: 1px solid #007db8;
    border-bottom: 4px solid #007db8
  }
}

.footer-gallery-wrapper {
  display: none
}

.dell-segment-consumer .footer-gallery-wrapper {
  display: block
}

.footer-gallery-wrapper {
  border-top: none;
  padding: 0px 0px 20px 0px
}

.footer-gallery .sidebar-divider {
  border-left: 1px solid #eee;
  top: 0;
  right: 0;
  padding-left: 15px
}

footer {
  background-color: #0085c3;
  color: #fff;
  margin-top: 20px
}

footer.well {
  padding: 0px
}

footer .footer-menu {
  font-size: 11px
}

footer .menu-container {
  position: relative
}

footer .footer-menu .footer-top-section {
  position: relative;
  z-index: 0;
  background-color: #eee;
  color: #444;
  font-size: 14px
}

footer .footer-menu .footer-top-section a {
  color: #444
}

footer .footer-menu .footer-top-section a:hover {
  color: #00447c;
  text-decoration: none
}

footer .footer-top-shadow {
  content: "";
  width: 80%;
  height: 10px;
  left: 10%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: -10px auto 0;
  z-index: 0
}

footer .footer-menu .footer-top-section .container {
  padding-left: 15px;
  padding-right: 15px
}

footer .footer-menu .footer-top-section ul.menu-links, footer .footer-menu .footer-bottom-section ul.menu-links {
  list-style: none;
  margin: 0;
  padding: 0
}

footer .footer-menu .footer-top-section ul.menu-links.mobile-lines li {
  padding: 10px 20px 10px 15px;
  border-bottom: 1px solid #aaa
}

footer .footer-menu .footer-top-section ul.menu-links li a {
  text-decoration: none
}

footer .footer-menu .footer-top-section ul.menu-links.language {
  position: absolute;
  right: 0;
  top: 0
}

.footer-menu .footer-top-section ul.menu-links.language li:first-child:after {
  content: "|";
  padding-left: 10px
}

.footer-menu .footer-top-section ul.menu-links li {
  margin: 0;
  padding: 12px 10px 12px 0
}

footer .footer-menu .footer-top-section ul.menu-links.language li:first-child {
  padding-right: 5px
}

footer .footer-menu .footer-top-section ul.menu-links li:last-child {
  padding-right: 0;
  border-bottom: none
}

footer .footer-shadow-section {
  content: "";
  width: 80%;
  height: 10px;
  left: 10%;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  margin: -10px auto 0;
  z-index: 0
}

footer .footer-bottom-section {
  padding: 10px 15px 0 15px;
  font-size: 11px;
  overflow: hidden
}

footer .footer-bottom-section .list-inline > li a {
  color: white
}

footer .footer-menu .footer-bottom-section .disclaimer {
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 1.6em;
  letter-spacing: .04em;
  font-weight: 200;
  color: #cce7f3;
  opacity: .6
}

footer .dropdown-toggle:after {
  padding-left: 5px
}

#phone-footer {
  padding-top: 10px
}

footer .menu-links {
  list-style: none;
  cursor: pointer
}

footer .country-list {
  display: none
}

footer ul.country-list {
  position: relative;
  top: -260px;
  height: 268px;
  width: 224px;
  left: 140px;
  overflow-y: scroll;
  background: white;
  border: black 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.15);
  list-style: none;
  padding-left: 0px
}

footer ul.country-list li {
  border-bottom: 1px solid #aaa
}

footer ul.country-list li {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 20px;
  height: 26px
}

footer .contextual-legal {
  line-height: 1.6em;
  letter-spacing: .04em;
  font-weight: 200;
  color: #cce7f3;
  opacity: .6
}

footer .contextual-legal a {
  color: #cce7f3;
  text-decoration: underline
}

@media (max-width: 767px) {
  footer .footer-bottom-section ul.menu-links.mobile-lines li {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #5eb0d7
  }

  footer .footer-bottom-section ul.menu-links.list-inline li {
    display: block
  }
}

@media (min-width: 768px) {
  footer .menu-container, footer .contextual-legal {
    width: 970px;
    margin: 0 auto
  }

  footer .footer-shadow-section {
    margin: -14px auto 0
  }

  footer .footer-menu .footer-top-section ul.menu-links {
    padding: 0 15px
  }
}

@media (min-width: 992px) {
  footer .footer-menu .footer-top-section ul.menu-links {
    padding: 0
  }
}

@media (min-width: 1200px) {
  footer .menu-container, footer .contextual-legal {
    width: 1170px
  }
}

#value-props {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #ddd;
  width: 100%;
  position: relative;
  z-index: 1
}

#value-props a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #434343;
  padding: 0 15px
}

.prop-description {
  font-size: 12px
}

.prop-title {
  font-size: 16px
}

#value-props span {
  display: block
}

#value-props div:hover {
  background-color: white
}

#value-props div {
  padding: 0;
  border-right: 1px solid #ddd;
  text-align: center
}

#value-props div:nth-child(3) {
  border-right: none
}

.value-prop-image {
  width: 45px;
  height: 35px
}

@media (min-width: 768px) {
  #value-props {
    margin-bottom: -5px
  }
}

@media (max-width: 767px) {
  #value-props {
    display: block;
    border: 1px solid #ddd;
    background-color: #eee
  }

  #value-props div {
    display: block;
    border-top: 1px solid #ddd;
    min-height: 80px;
    text-align: left
  }

  #value-props div:first-child {
    border-top: none
  }

  .prop-image {
    float: left;
    padding-top: 22px;
    padding-right: 20px
  }

  .prop-title {
    padding-top: 12px;
    margin-bottom: 2px;
    font-size: 14px
  }

  #value-props span.prop-description {
    margin-bottom: 16px;
    line-height: 16px;
    display: flex
  }
}

body.alienware #value-props {
  background-color: black;
  border: none
}

body.alienware .prop-description {
  color: white
}

body.alienware #value-props div {
  border: none
}

body.alienware #value-props div:hover {
  background-color: #434343
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], .ng-cloak, .data-ng-cloak {
  display: none !important
}

.signIn {
  width: auto;
  height: 310px;
  border: none;
  overflow-x: hidden;
  margin-left: 20px
}

.signOut {
  width: auto;
  height: 40px;
  border: none;
  overflow-x: hidden;
  margin-left: 20px
}

.tablet .t1partial {
  height: 340px
}

.ie-mobile-7 [class^=icon-] {
  font-family: inherit
}

.ie-mobile-7 .mh-searchform .icon-small-searchleft:before {
  content: 'Go';
  font-size: 18px
}

.ie-mobile-7 .icon-small-searchleft:before {
  content: "Search"
}

.ie-mobile-7 .icon-ui-close:before {
  content: "\0078";
  font-size: 21px;
  font-weight: bold
}

.ie-mobile-7 .icon-small-cart:before {
  content: "Cart"
}

.ie-mobile-7 #trNvExp:before {
  content: "Menu"
}

.ie-mobile-7 .windows7-alignment-plus {
  margin-top: -4px
}

.ie-mobile-7 .windows7-alignment-minus {
  margin-top: -7px
}

.ie-mobile-7 .icon-ui-plus:before, .ie-mobile-7 .icon-small-add:before, .ie-mobile-7 .accordion-heading.well .accordion-toggle.collapsed:after {
  content: "+";
  font-family: none;
  font-size: 22px;
  font-weight: bold;
  margin-top: 1.5px
}

.ie-mobile-7 .off-screen .icon-ui-arrowleft {
  margin-top: 1px
}

.ie-mobile-7 .icon-ui-minus:before, .ie-mobile-7 #navbar .nav-tabs > li.dropdown.active.open .icon-ui-plus:before, .ie-mobile-7 .accordion-heading.well .accordion-toggle:after {
  content: "-";
  font-family: none;
  font-size: 24px;
  font-weight: bold;
  margin-top: -2px
}

.ie-mobile-7 .mh-tiernavlink .icon-ui-triangleup:before {
  content: " "
}

.ie-mobile-7 .icon-ui-arrowright:before {
  content: ">";
  font-weight: bold
}

.ie-mobile-7 .icon-ui-arrowleft:before {
  content: "<";
  font-weight: bold
}

.ie-mobile-7 .icon-small-checkmark:before, .ie-mobile-7 .icon-ui-dell:before, .ie-mobile-7 .icon-large-touch:before, .ie-mobile-7 .cart-summary-bottom .icon-small-cart:before, .ie-mobile-7 .icon-large-checkmark:before {
  content: " "
}

.ie-mobile-7 .icon-small-favorite:before {
  content: "\2729";
  font-weight: bold
}

.ie-mobile-7 .icon-small-help:before {
  content: "\003F"
}

.ie-mobile-7 .icon-ui-triangleup:before {
  content: "\25BD"
}

.ie-mobile-7 .icon-ui-triangledown:before {
  content: "\25Bc"
}

.ie-mobile-7 .alert:before {
  content: "\25B2"
}

.ie-mobile-7 #trNvExp {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif
}

.ie-mobile-7 .mobile .mh-searchlink a {
  font-size: 18px
}

.ie-mobile-7 .mh-cartlink .cart {
  height: 30px
}

.ie-mobile-7 .mobile .mh-cartlink .cart .single-digit {
  top: -5px;
  right: 8%
}

.ie-mobile-7 .icon-large-cart:before, .ie-mobile-7 .progress.progress-status .bar-complete:after {
  content: " "
}

@media (max-width: 767px) {
  body:before {
    content: 'mobile';
    position: absolute;
    top: -10000px
  }
}

@media (min-width: 768px) {
  body:before {
    content: 'tablet';
    position: absolute;
    top: -10000px
  }
}

@media (min-width: 992px) {
  body:before {
    content: 'desktop';
    position: absolute;
    top: -10000px
  }
}
